.gallery{
  display: grid;
  place-items: center;
}
.gallery__container{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3rem;
  place-items: center;
}

.gallery__container article{
  border: 2px solid var(--color-gray-500);
  transition: var(--transition);
}

.gallery__container article:hover{
  transform: scale(1.14);
}


/* media queries medium screens  */

@media screen and (max-width:1024px) {

  .gallery__container{
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
  }
  
}

/* media queries small screens  */

@media screen and (max-width:600px) {

  .gallery__container {
      grid-template-columns: 1fr;
  }

}